<div class="navigation">
    <ul class="navList">
        <li><a href="/">Home</a></li>
        <li><a href="/snippet/create">Create snippet</a></li>
        <li><a href="/register">Register user</a></li>
        <li class="right"><a href="/logout">Sign Out</a></li>
        <li class="right"><a href="/login">Sign In</a></li>
    </ul>
</div>
