<h2>Create snippet</h2>
<form action="/snippet/create" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{>validationSummary}}
    <textarea class="form-snippet" name="value" placeholder="Write your snippet..." value="{{value}}"></textarea>
    <button class="form-button" type="submit">Save</button>
</form>
