<h2>Snippets</h2>
<hr>
{{#if stickySnippets }}
<dl>
    {{#each stickySnippets}}
        <a href="/create/{{id}}">
            <div class="snippet">
                <b>{{createdAt}}</b><br>
                {{value}}<br>
                <button>Update</button>
            </div>
        </a><br>
    {{/each}}
</dl>
{{/if}}
