<h2>Snippets</h2>
<hr>
{{#if stickySnippets }}
<dl>
    {{#each stickySnippets}}
        <div class="snippet">
            <b>{{createdAt}}</b><br>
            {{value}}<br>
            <a href="/snippet/update/{{id}}"><button>Update</button></a>
            <a href="/snippet/delete/{{id}}"><button>Delete</button></a><br>
        </div>
    {{/each}}
</dl>
{{/if}}
