<h2>Login</h2>
<form action="/login" method="post">
    <input type="text" class="form-register" placeholder="Username" value="{{uname}}"></input><br>
    <input type="password" class="form-register" placeholder="Password" value="{{password}}"></input><br>
    <button class="form-button" type="submit">Login</button>
</form>
